@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-900: #0B0F19;

    --clr-primary: #6366F1;
    --clr-body-text: var(--clr-gray-700);
    --clr-navigation: var(--clr-gray-800);
    --clr-heading: var(--clr-gray-900);

    --clr-bg: #fff;

}

*, *::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: 'Manrope', system-ui;
    line-height: 1.4;
    background-color: var(--clr-bg);
}

img {
    display: block;
}

ol, ul {
    list-style: none;
    display: inline-block;
}
 
span {
    padding-left: 10px;
}

.container {
    width: 120%;
    padding-inline: 1rem;
    margin: auto;
    @media (width > 1400px) {
        max-width: 1100px;
    }
}

.h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--clr-heading);
}

.h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--clr-heading);
}

.h5 {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--clr-heading);
}

.text-lg {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--clr-body-text);
    margin-top: 1rem;
}

.text-m {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-body-text);
    margin-top: 20px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.btn {
    font-size: .875rem;
    background-color: transparent;
    border: 0;
    padding: .5em 1.5em;
    border-radius: .3em;
}

.btn-primary {
    background-color: var(--clr-primary);
    color: #fff;
}

.learn-btn {
    margin: 5px 7px;
    padding-right: 11px;
}

/* NAVBAR START */
.main-nav {
    .container {
        justify-content: space-between;
        padding-block: 0.7rem;
    }
}

.nav-link {
    color: var(--clr-navigation);
    font-weight: 600;
    padding-left: 2rem;
}

.nav-link:hover {
    color: var(--clr-primary);
}
/* NAVBAR END */


/* SHOWCASE START */
.showcase {
    background-image: linear-gradient(to top, rgba(99, 101, 241, 0.1), rgba(219, 70, 239, 0.05) 45%, rgba(241, 244, 253, 0.07) 83%);
    position: relative; 

    .hero {
        position: relative;
        height: 600px;

        .hero-text{
            font-size: 3.5rem;
            font-weight: 800;
            color: var(--clr-heading);
            margin-top: 2px;
        }
    }

    .content {
        position: absolute;
        margin-top: 7rem;
        left: 5px;
    }

    .store-btn {
        padding: 3em 1.75em 0 0;

        img {
            width: 100%;
        }
    }

    .more {
        margin-top: 6rem;
    } 

    .btn-round {
        background-color: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        box-shadow: 1px 1px 5px var(--clr-gray-400);
    }

    .chevron {
        width: 50%;
        margin: 7px 5px 5px 7px;
    }

    span {
        color: var(--clr-body-text);
        font-size: 0.8rem;
        padding: 7px;
    }

    .phone-img-container {
        display: block;
        width: 550px;

        position: absolute;
        right: 5px;
        bottom: 0;

        img {
            width: 100%;
        }
    }
}
/* SHOWCASE END */


/* LOGOS START */
.logos {
    padding: 0;
    margin: auto;

    img {
        width: 90%;
        padding-block: 90px;
    }
}
/* LOGOS END */


/* APP FEATURES START */
.features {

    img {
        width: 190%;
    }

    .features-contents {
        padding-left: 300px;
    }

    .content-text {
        font-size: 1rem;
        font-weight: 400;
        color: var(--clr-gray-600);
    }

    .features-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .features-card {
        margin-top: 2rem;
    }

    .icon-container {
        border-radius: 8%;

        .text-m {
            margin-top: 20px;
        }
    }

    .text {
        margin-left: 3rem;
    }
}
/* APP FEATURES END */


/* HOW DOES IT WORK START */
.phone-section {
    background-color: var(--clr-gray-100);
    margin-top: 100px;

    .h1 {
        text-align: center;
        padding: 50px;
    }

    .flex {
        justify-content: center;
    }

    .gallery-img{
        padding: 10px 20px ;
    }

    .gallery-img-center {
        padding: 10px 40px;
    }

    .section-content {
        padding: 30px;
        text-align: center;

        h4 {
            font-size: 1.5rem;
            font-weight: 800;
            color: var(--clr-heading);
        }
    }
    
    .text-m {
        padding: 10px;
    }
}
/* HOW DOES IT WORK END */


/* TRANSACTIONS START*/
.transactions-section {

    .transactions-content {
        position: relative;

        .transactions-text {
            margin-top: 140px;
            padding-top: 75px;

            .transactions-title {
                margin-bottom: 20px;
            }

            li {
                margin-bottom: 15px;
                svg {
                    vertical-align: middle;
                }
    
                .item-text {
                    display: inline-block;
                    padding-bottom: 5px;
                }
            }
        }

        .balance-img {
            display: block;
            width: 550px;
            position: absolute;
            right: 5px;
            top: 0;
            bottom: 10px;
        }

        .contacts-img {
            width: 100%;
            margin-top: 15em;
        }

        .payments-content {
            display: block;
            width: 550px;
            position: absolute;
            right: 0;
            top: 65px;

            .payments-text {
                display: flex;
                padding: 20px 0;

            }
        }

    }


    
}
/* TRANSACTIONS END */