@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-900: #0B0F19;

    --clr-primary: #6366F1;
    --clr-body-text: var(--clr-gray-700);
    --clr-navigation: var(--clr-gray-800);
    --clr-heading: var(--clr-gray-900);

    --clr-bg: #fff;

}

*, *::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: 'Manrope', system-ui;
    line-height: 1.4;
    background-color: var(--clr-bg);
}

img {
    display: block;
}

ol, ul {
    list-style: none;
    display: inline-block;
}
 
span {
    padding-left: 10px;
}

.container {
    width: 100%;
    padding-inline: 1rem;
    margin: 0 auto;
    @media (width > 1400px) {
        max-width: 1100px;
    }
}

.d4 {
    font-size: 3.5rem;
    margin-top: 7rem;
}

.text-lg {
    font-size: 1rem;
    color: var(--clr-body-text);
    margin-top: 1rem;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.btn {
    font-size: .875rem;
    background-color: transparent;
    border: 0;
    padding: .5em 1.5em;
    border-radius: .3em;
}

.btn-primary {
    background-color: var(--clr-primary);
    color: #fff;
}


/* NAVBAR START */
.main-nav {
    .container {
        /* position: relative; */
        justify-content: space-between;
        padding-block: 0.7rem;
    }
}

.nav-link {
    color: var(--clr-navigation);
    font-weight: 600;
    padding-left: 2rem;
}

.nav-link:hover {
    color: var(--clr-primary);
}
/* NAVBAR END */


/* SHOWCASE START */
.showcase {
    background-image: linear-gradient(to top, rgba(99, 101, 241, 0.1), rgba(219, 70, 239, 0.05) 45%, rgba(241, 244, 253, 0.07) 83%);
    position: relative; 

    .hero {
        position: relative;
        height: 600px;

        .hero-text{
            font-size: 3rem;
            color: var(--clr-heading);
        }
    }

    .content {
        position: absolute;
        margin-top: 7rem;
        left: 5px;
    }

    .store-btn {
        padding: 3em 1.75em 0 0;
    }

    .more {
        margin-top: 8rem;
    } 

    .btn-round {
        background-color: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        box-shadow: 1px 1px 5px var(--clr-gray-400);
    }

    .chevron {
        width: 50%;
        margin: 7px 5px 5px 7px;
    }

    span {
        color: var(--clr-body-text);
        font-size: 0.8rem;
        padding: 7px;
    }

    .phone-img-container {
        display: block;
        width: 550px;

        position: absolute;
        right: 5px;
        bottom: 0;

        img {
            width: 100%;
        }
    }
}
/* SHOWCASE END */


/* LOGOS START */
.logos {
    padding: 0;
    margin: auto;

    img {
        width: 90%;
        padding-block: 90px;
    }
}


/* LOGOS END */